.WebReg{
    width: 100%;
    height: 87%;
}

.PList{
    width: 70%;
}

.ProductList{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.CashOut{
    height: 100%;
    width: 30%;
}

.lel{
    height: 500px;
}
.produkto-list{
    height: 90%;
}